.titulo {
  text-align: center;
  margin: 25px 0 10px;
  font-weight: 600;
  font-size: 24px;
}

.header-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    font-size: 15px;
  }
}

.form-card {
  max-width: 650px;
  margin: 0 auto 30px auto;
  padding: 25px;
  border-radius: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 18px;
  align-items: end;
}


.btn-guardar {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 10px 22px;
  width: auto !important;
}

.meses-accordion {
  max-width: 600px;   /* controla el ancho */
  margin: 0 auto;     /* centra la tabla */
}

/* Panel de cada mes */
mat-expansion-panel {
  border-radius: 12px !important;
  overflow: hidden;
}

.panel-content {
  padding: 20px 30px;
}

mat-expansion-panel-header {
  padding: 12px 18px !important;
}

.resumen-categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
  opacity: 0.85;
}

.panel-content {
  padding: 20px;
}

/* Bloques de categoría */
.categoria-bloque {
  margin-bottom: 25px;
}

/* Títulos de categoría */
.categoria-bloque h3 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 600;
}

.cat-titulo {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.tabla-subcategorias {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;

  td {
    padding: 8px 0;
  }

  .nombre mat-select {
    width: 150px;
  }

  .valor {
    font-weight: 600;
    width: 100px;
  }

  .acciones {
    width: 35px;
    text-align: right;
  }
}

.tabla-subcategorias td select {
  width: 150px;
}

.contenedor-centrado {
  max-width: auto;   /* Ajusta aquí el ancho deseado */
  margin: 0 auto;     /* Centra el bloque */
  padding: 0 10%;    /* Pequeño margen lateral */
}

.diff {
  width: 80px;
  text-align: right;
  font-weight: 600;
}

.positivo {
  color: #2e7d32 !important; /* verde */
}

.negativo {
  color: #c62828 !important; /* rojo */
}

.diff span {
  display: inline-block;
  min-width: 60px;
}

/* Reactivar selector type="month" que Material desactiva */
input[type="month"] {
  appearance: auto !important;
  -webkit-appearance: auto !important;
}
