.contenedor-general {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.fila-superior {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* para móviles */
  margin-bottom: 25px;
  height: auto;
}

.mitad {
  width: 38%;
  min-width: 300px;
  height: 500px;
}

.amplia {
  margin: 20px auto;
  width: 78%;
}

.card {
  padding: 20px;
}

.card h2 {
  margin-bottom: 12px;
  font-weight: 600;
}

canvas {
  max-width: 100% !important;
  height: auto !important;
}

.tabla {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.resumen-variacion {
  margin-top: 20px;
  text-align: center;
}

.numero-principal {
  font-size: 26px;
  font-weight: 700;
}

.detalle-anterior {
  margin-top: 4px;
  font-size: 15px;
  opacity: 0.7;
}

.variacion {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.variacion.sube {
  color: #43a047;
  /* verde */
}

.variacion.baja {
  color: #e53935;
  /* rojo */
}

.variacion.igual {
  color: #555;
}