.dialog-container {
  padding: 25px;
  width: 480px;
  background-color: var(--card-bg);
}

.titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.titulo-icon {
  color: #1976d2;
  font-size: 30px;
}

.lista-categorias {
  background: #fafafa;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  max-height: 260px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: var(--card-bg);
  scrollbar-color: var(--app-text) var(--card-bg); /* Color del scroll | Color del fondo del scroll */
}

.cat-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.cat-item:hover {
  background: var(--hover);
}

.cat-nombre {
  font-size: 15px;
  font-weight: 500;
}

.input-full {
  width: 100%;
  margin-bottom: 10px;
}

.btn-add {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
}

.acciones {
  text-align: right;

  button {
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
  }
}

:host ::ng-deep .mat-mdc-select-value {
  color: var(--app-text) !important;
}

:host ::ng-deep .mat-mdc-input-element {
  color: var(--app-text) !important;
}

:host ::ng-deep .mat-mdc-floating-label {
  color: var(--app-text) !important;
}