mat-dialog-content {
  padding-top: 12px;
  overflow-x: hidden;
}

.form-grid {
  display: grid;
  gap: 16px;
  min-width: 320px;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;
}

@media (max-width: 768px) {

  .form-grid {
    min-width: unset;
  }

}

.header-actions {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.header-actions button {
  flex: 1;
  min-width: 180px;
}