// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* =====================
   VARIABLES BASE
===================== */

/* ===========================
   TEMA CLARO
=========================== */
:root {
  --app-bg: #f5f7fa;
  --app-text: #1e1e1e;

  --card-bg: #ffffff;
  --border-color: #dcdcdc;

  --app-toolbar-bg: #ffffff;
  --app-toolbar-text: #1e1e1e;

  --table-header-bg: #f0f0f0;
  --table-header-text: #1e1e1e;

  --hover: #e0e0e0;
}

/* ===========================
   TEMA OSCURO
=========================== */
.dark-theme {
  --app-bg: #121212;
  --app-text: #e0e0e0;

  --card-bg: #1e1e1e;
  --border-color: #333;

  --app-toolbar-bg: #1c1c1c;
  --app-toolbar-text: #ffffff;

  --table-header-bg: #2a2a2a;
  --table-header-text: #ffffff;

  --hover: #333;
}

/* =====================
   APLICACIÓN GLOBAL
===================== */

body {
  background-color: var(--app-bg);
  color: var(--app-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

mat-card {
  background-color: var(--card-bg) !important;
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
}

table {
  color: var(--text-color);
}